<html>

<head>
    <h1 align="center">Lab 4 Login</h1>
    <link href="site.css" rel="stylesheet">
    <meta charset="utf-8" />
    <script type="text/javascript">
        <!--

        function loginUser() {
            var input1 = document.getElementById('username').value;
            localStorage.setItem('username', input1);
            var input2 = document.getElementById('password').value;
            localStorage.setItem('password', input2);

            window.location = "Dashboard.html";
        }
        //-->
    </script>

</head>

<body>
    <div class="back">

    </div>
    <div class="input">
        Username:
        <input ng-model="user.username" id="username"></input>
        <br/>
        <br/> Password:
        <input ng-model="user.password" id="password"></input>
        <br/>
    </div>
    <br></br>
    <input type="submit" style="height:40px; width:120px" ng-click="login(user.username, user.password)" onclick="loginUser();" value="Submit"></input>
</body>

</html>